body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: rgb(255, 72, 0);
}
container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: rgb(251, 255, 10);
    color: white;
    padding: 10px;
    text-align: center;
    }
nav {
        float: left;
        width: 20%;
        background-color: #f2f2f2;
        padding: 10px;
    }
nav a {
        text-decoration: none;
        color: rgb(41, 243, 14);
    }
content {
        float: left;
        width: 80%;
        padding: 10px;
    }
    footer {
        background-color: rgb(42, 6, 248);
        color: white;
        text-align: center;
        clear: both;
        padding: 10px;
    }    